html { background:#83c018; }
body {margin: 1em; font-size: 76%; font-family: Arial, sans-serif; color: #273907; line-height: 1.5; }
h1 { font-size: 3em; font-weight: normal; color: #fff; }
.box { padding: 1em; background:#98cc2b;border:1px solid #569f09;text-align:left;float:left;margin:5px;}
.box-right{border:0px;width:300px;float:right;}
.box-thumbnail{border:0px;padding:0.5em;width:120px;background:#83c018;}
.box-thumbnail img{width:100px;}
.box-comments{clear:both;}

#large_description{width:640px;}

.copyright {clear:both;padding:0;text-align:center;font-size:0.7em;color:#557d10;}
.errors{color:red;}


a{color: inherit;text-decoration:none;}
img{border-style:hidden;}
.hidden{display:none;}

.kwalbumBox{
	width:170px;height:192px;
	text-align:center;
	border-width:1px;
	border-style:solid;
	float:left;
	margin:5px;
	padding:5px;
}
.kwalbumCurrentIndex{
	font-size:1.4em;
	font-weight:bold;
}
.kwalbumPageNumbers{
	clear:both;
	text-align: left;
}
.kwalbumHasComments{
	color: #fdd;
}

