html { background:#83c018; }
body {margin: 1em; font-size: 76%; font-family: Arial, sans-serif; color: #273907; line-height: 1.5; }
h1 { font-size: 3em; font-weight: normal; color: #fff; }
.box { padding: 1em; background:#98cc2b;border:1px solid #569f09;text-align:left;float:left;margin:5px;}
.box-right{border:0px;width:300px;float:right;padding-top:0px;}
.box-thumbnail{border:0px;padding:0.5em;width:120px;background:#83c018;}
.box-thumbnail img{width:100px;}
.box-comments{clear:both;}
.box-thumbnail-description{width:200px;}

#large_description{width:640px;}

.copyright {clear:both;padding:0;text-align:center;font-size:0.7em;color:#557d10;}
.errors{color:red;}


a{color: inherit;text-decoration:none;}
img{border-style:hidden;}
.hidden{display:none;}

.kwalbumBox{
	border-width:1px;
	border-style:solid;
	float:left;
	margin:5px;
	padding:5px;
}
.kwalbumThumbnailBox{
	height:192px;
	text-align:center;
}
.kwalbumThumbnailBox.kwalbumEditMode{
    height:auto;
    min-height:250px;
}
.kwalbumCurrentIndex{font-size:1.4em;font-weight:bold;}
.kwalbumPageNumbers{clear:both;text-align: left;}
.kwalbumShareIcons{
	float:right;
}
.kwalbumHasComments{color: #fdd;}

.kwalbumItemMapCanvas{width:300px;height:300px;border:1px solid black;}
.kwalbumPopupTitle{text-align:center;font-size:1.4em;font-weight:bold;}
.kwalbumPopupDescription{text-align:left;}

#kwalbumMassEditFields .kwalbumMassEditField {float: left;}
#kwalbumMassEditFields .kwalbumMassEditField:nth-child(3n+1) {clear: left;}
.kwalbumMassEditInputs {clear: left;}
.kwalbumMassEditCheckAlls {float: right;}
.kwalbumItemInfo {
    margin: 0;
    max-width: 250px;
    overflow: auto;
}
.kwalbumItemInfo dt {
    clear: left;
    float: left;
}
.kwalbumItemInfo dt:after {
    content: ':';
}
.kwalbumItemInfo dd {
    float: left;
    margin-left: 5px;
    text-align: left;
}
.kwalbumItemLocation {
    max-width: 200px;
}

.kwalbumMassEditField:nth-child(3n+1) {width: 279px;}
.kwalbumMassEditField:nth-child(3n+2) {width: 287px;}
.kwalbumMassEditField:nth-child(3n+3) {width: 276px;}
.kwalbumMassEditField input {width: 190px;float:right;margin-right:10px;}
.kwalbumMassEditField select {width: 192px;float:right;margin-right:10px;}
#kwalbum_me_add_tags, #kwalbum_me_add_people {color:green;}
#kwalbum_me_rem_tags, #kwalbum_me_rem_people {color:red;}
